@use "variables" as *;

.wrapper {
    max-width: 1728px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.button {
    background-color: $black;
    color: $white;
    border: 2px solid $black;
    padding: 14px 36px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.25em;
    &:hover {
        background-color: transparent;
        color: $black;
    }
     &:focus {
        background-color: transparent;
        color: $black;
    }
}

ul {
    list-style: none;
}

