@use "variables" as *;

header {
  background-color: var(--tertiaryColor);
  height: max(100vh, 900px);
  position: relative;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    .textContainer, .linkContainer, .arrow {
      flex-basis: 100%;
    }
    .linkContainer {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      // need to make these buttons the same size so it'll also center nicely
      a {
        margin: 0 10px;
      }
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;
  margin: 20px;
  a {
  &:hover {
     text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
     transform: scale(1.1);
    }
    &:focus {
     text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
     transform: scale(1.1);
    }
  }
}

.textContainer {
  margin: 90px 0;
  overflow: hidden;
}

.typeContainer {
  .text {
    position: relative;
  }
  .secondText {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--tertiaryColor);
        border-left: 2.5px solid var(--secondaryColor);
        animation: animate 3s steps(12) infinite;
    }
    &::after {
      content: "."
    }
  }
  
  @keyframes animate {
    40%, 60% {
      left: calc(100% + 10px);
    }
    100% {
      left: 0%;
    }
  }
}

//Night/Day Mode Styling
#icon {
    width: 30px;
    cursor: pointer;
    position: fixed;
    left: 1%;
    top: 1%;
    z-index: 10000;
}

.catContainer {
  width: 28%;
  position: absolute;
  left: 2%;
  bottom: 4%;
}