@use "variables" as *;

// Socials/Contact Side Nav
.socialsNav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 2%;
    bottom: 50px;
    .socials {
        background-color: $black;
        padding-left: 0;
        border-radius: 0.25em;
        li {
            margin: 12px;
          a {
            color: $white;
                &:hover {
                    color: $darkBlue;
                }
                &:focus {
                    color: $darkBlue;
                }
            }
        }  
    }        
}

// Section: About Me
// is this section TOO plain? if so, could potentially have shorter vh.
.about {
    height: max(100vh, 900px);
    background-color: var(--primaryColor);
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .aboutContainer {
            display: flex;
            align-items: center;
            
            p {
                width: 55%;
                line-height: 35px;

                span {
                    display: block;
                    margin-top: 5%;
                }

            }
            .aboutImgContainer {
                width: 45%;
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                    border-radius: 50%;
                }
            }
        }
    }
}

// Section: Skills
.skills {
    height: max(100vh, 900px);
    background-color: var(--tertiaryColor);
    h3 {
        margin-top: 0px;
        padding-top: 80px;
    }
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 60px 0px 60px;
    li {
        width: 25%;
        margin-bottom: 20px;
        text-align: center;
        i {
            font-size: 4rem;
        }
    }
}

// Section: Projects
.projects {
    // does height need to be defined? 
    background-color: var(--primaryColor);
    h3 {
        margin-top: 0px;
        padding-top: 80px;
    }
}

.allProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    .projectContainer {
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        .mockUpContainer {
            width: 50%;
            margin: 50px;
        }
        .projectContentContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 50px;
            border: 2px solid var(--secondaryColor);
            border-radius: 2em;
            .projectText {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 10%;
            }  
        } 
    }
}

.projectTwo, .projectFour {
    flex-direction: row-reverse;
}

.projectText {
    h4 {
        margin: 20px 0 0 0;
        width: 100%; 
    }
    h5 {
        margin-bottom: 0px;
    }
    p {
        font-size: 1.1rem;
        line-height: 30px;
        margin: 22px 15px 5px 15px;
        letter-spacing: 1.2px;
        a {
            font-size: 1.1rem;
            transition: 0.3s;
            font-weight: bold;
            &:hover {
                border-bottom: 3px solid $darkBlue;
            }
            &:focus {
                border-bottom: 3px solid $darkBlue;
            }
        }
    }
}

.projectLinks {
    margin: 10% 10% 13% 10%;
}

// Section: Contact
.contact {
    background-color: var(--tertiaryColor);
    h3 {
        padding-top: 80px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

.contactForm {
    height: max(100vh, 850px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    p {
        width:70%;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        letter-spacing: 3.5px;
        font-weight: bold;
        width: 70%;
        input, textarea {
            border: none;
            font-family: $bodyFont;
            font-size: 1rem;
            padding: 10px 5px;
            margin-bottom: 15px;
                &:focus {
                outline: 3px solid $lightGray;
            }
        }
        button {
            width: 30%;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 60px;
            padding: 2%;
            width: 170px;
        }
    }
// ADDED CLASSES FOR FORM SUBMISSION
    .success, .error {
        margin: 0 auto;
        text-align: center;
        border-radius: 0.2em;
        padding: 2% 4%;
        background-color: $darkBlue;
        color: $white;
    }
    .error {
        background-color: $hotPink;
    }
}
