@use "variables" as *;

@media (max-width: 1400px){
    .allProjectsContainer {
        width: 100%;
        .projectContainer {
            margin: 0px 0px 30px 0px;
             .mockUpContainer {
                margin: 5px;
             } 
             .projectContentContainer {
                margin: 1.5%;
            }
        }
    }
    .catContainer {
        width: 30%;
        left: -2%;
        bottom: 10%;
    }
    .about {
        height: max(100vh, 880px);
        .wrapper {
            h3 {
                margin-bottom: 2%;
            }
        }
    }
}

@media (max-width: 1200px){
    header {
        height: fit-content;
    }
    .about {
        height: fit-content;
    }
}

@media (max-width: 1010px){
    .catContainer {
        width: 32%;
        left: -4%;
        bottom: 15%;
    }
    
    .mainNav {
        .mainNavLinks {
            padding-left: 10px;
            li {
                margin-left: 10px;
                a {
                padding: 14px 10px;
                }
            }  
        }
    }
    .about {
        h3 {
            margin-top: 0px;
            padding-top: 8%;
        }
        .wrapper {
            display: block;
            .aboutContainer {
                flex-direction: column-reverse;
                align-items: center;
                p {
                    width: 100%;
                    margin-bottom: 10%;
                }
                .aboutImgContainer {
                    display: block;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .skills {
        height: fit-content;
        overflow: hidden;
        .skillsList {
            li {
                width: 33%;
            }
        }
    }
    .allProjectsContainer {
        width: 95%;
        display: block;
        .projectContainer {
            display: block;
            margin-bottom: 7%;
            .mockUpContainer {
                width: 100%;
            }
            .projectContentContainer {
                width: 100%;
                display: block;
                .projectText {
                    display: block;
                    margin: 3%;
                }
                .projectLinks {
                    margin: 6%;
                }
            }
        }
    }

    .contact {
        height: fit-content;
        .contactForm {
            height: fit-content;
        }
    }

    .socialsNav {
        right:1%;
        li {
            margin: 5px;
        }
    }
}

@media (max-width: 800px) {
    .socialsNav {
        display: none;
    }

    .mobileSocialsNav {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20%;
    }

    .headerNav {
        padding: 0px;
    }
    .mainNav {
        display: none; 
    }
    .hamNavIcon {
        display: block;
    }
    .hamNav {
        display: block;
    }
    .return {
        display: none;
    }
    .skills {
        .skillsList {
            padding: 0px;
        }
    }

    .contact {
        position: relative;
        .contactSocialsNav {
            display: flex;
            position: absolute;
            right: 2%;
            top: 0;
            li {
                margin-bottom: 25%;
                a {
                    &:hover {
                        color: $darkBlue;
                    }
                    &:focus {
                        color: $darkBlue;
                    }
                    i {
                    font-size: 1.3rem;
                    } 
                }
            }
        }
    }

    .contactForm {
        p {
            width: 85%;
        }
        form {
            width: 80%;
        }
    }
}

@media (max-width: 700px) {
    header {
        .wrapper {
           .linkContainer {
        margin-bottom: 10%;
        } 
        }
    }

     .arrow {
        display: none;
    }

    .catContainer {
        left: -1%;
    }
}

@media (max-width: 500px) {
    header {
        height: fit-content;
    }

    .catContainer {
        width: 50%;
        left: -4%;
        bottom: 10%;
    }

    .about {
        .wrapper .aboutContainer {
            p {
                font-size: 1rem;
                line-height: 27px;
            }
        }
    }

    .skills {
        .skillsList {
            li {
                width: 50%;
                margin: 0;
            }
        }
    }

    .allProjectsContainer {
        .projectContainer {
            text-align: left;
            margin-bottom: 10%;
            .projectContentContainer {
                border: none;
                .projectText {
                    p {
                        font-size: 1rem;
                        line-height: 23px; 
                        margin-left: 0;
                        margin-bottom: 10%;
                    } 
                }
                .projectLinks {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    .button {
                        margin: 2%;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        .wrapper {
            .textContainer {
                margin-bottom: 0%;
            }
            .linkContainer {
            flex-direction: column;
            margin-top: 0;
                a {
                    margin: 0% 15% 2% 15%;
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }

    .catContainer {
        display: none;
    }
    h1 {
        font-size: clamp(3.1rem, -0.625rem + 20vw, 4.375rem);
    }
    h2 {
        line-height: 48px;
    }
    
    .hamNav {
        ul li a {
            font-size: 1.8rem;
        }
    }

    .contact {
        .contactSocialsNav {
            top: 15%;
        }
    }
}