//COLORS:

// CSS variables to set colors for Day Mode functionality:
:root {
    --primaryColor: #F9FAFA;
    --secondaryColor: #1c1c1c;
    --tertiaryColor: #d9dbf1;
    --transparentBlue: #d9dbf1d2;
    --hamIconColor: #1c1c1c;     
}

// CSS variables to set colors for Night Mode functionality:
.nightMode {
    --primaryColor: #1c1c1c;
    --secondaryColor: #F9FAFA;
    --tertiaryColor: #2C2D41;
    --transparentBlue: #2c2d41c6;
    --hamIconColor: #d9dbf1;
}

//SASS color variables for colors outside of Day/Night ode funcationality
$white: #F9FAFA;
$black:#1c1c1c;
$gray: #323131;
$lightGray: #3231314b;
$hotPink: #FF0096;
$darkBlue: #6975f9;

//FONTS: 
$bodyFont: 'Inconsolata', monospace;
$headingFont: 'Karla', sans-serif;
