//COLORS:
$grayBlue: #d9dbf1;
$yellow: #f1efd9;
$black: #1c1c1c;
$white: #F9FAFA;
$pink: #C47AC0;
$hotPink: #FF0096;


//FONTS: 
$bodyFont: 'Inconsolata', monospace;
$headingFont: 'Karla', sans-serif;