//COLORS:
$grayBlue: #d9dbf1;
$yellow: #f1efd9;
$black: #1c1c1c;
$white: #F9FAFA;

$gray: #323131;
$lightGray: #3231314b;
$pink: #C47AC0;
$hotPink: #FF0096;
$darkBlue: #6975f9;
$transparentBlack: #1c1c1ccd;
$transparentWhite: #f9fafac8;
$transparentGrayBlue: #d9dbf1d2;

//FONTS: 
$bodyFont: 'Inconsolata', monospace;
$headingFont: 'Karla', sans-serif;