html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body, button {
  font-family: "Inconsolata", monospace;
  color: #1c1c1c;
}

h1, h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 5.5rem;
  line-height: 150px;
}

h2 {
  font-size: 2.5rem;
  line-height: 60px;
  letter-spacing: 3.9px;
}

h3 {
  font-size: 4rem;
  letter-spacing: 5px;
}

h4 {
  font-size: 2.5rem;
  line-height: 35px;
  letter-spacing: 2.5px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1.6px;
}

a {
  color: #1c1c1c;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: 1.6px;
}

.wrapper {
  max-width: 1728px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button {
  background-color: #1c1c1c;
  color: #F9FAFA;
  border: 2px solid #1c1c1c;
  padding: 14px 36px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.25em;
}
.button:hover {
  background-color: transparent;
  color: #1c1c1c;
}
.button:focus {
  background-color: transparent;
  color: #1c1c1c;
}

ul {
  list-style: none;
}

.logo {
  -webkit-animation: bounceIn 0.8s;
          animation: bounceIn 0.8s;
  -webkit-transform: rotate(0deg) scale(1) translateZ(0);
          transform: rotate(0deg) scale(1) translateZ(0);
  -webkit-transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
}
.logo a {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.logo a:hover {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.headerNav {
  background-color: rgba(217, 219, 241, 0.8235294118);
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainNav .mainNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainNav .mainNavLinks li {
  margin-left: 20px;
}
.mainNav .mainNavLinks a {
  padding: 14px 36px;
  text-align: center;
  border-radius: 0.25em;
  border: 2px solid transparent;
}
.mainNav .mainNavLinks a:hover {
  border: 2px solid #1c1c1c;
  font-weight: bold;
}

.hamNavIcon {
  display: none;
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 100;
  font-size: 2rem;
}
.hamNavIcon .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamNavIcon .toggle:hover {
  color: #6975f9;
}
.hamNavIcon .toggle:focus {
  color: #6975f9;
}

.hamNav {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: rgba(249, 250, 250, 0.7843137255);
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 0;
  right: -80vw;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hamNav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}
.hamNav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.hamNav ul li a {
  font-size: 2.8rem;
  line-height: 85px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hamNav ul li a:hover {
  color: #6975f9;
  font-weight: bold;
}
.hamNav ul li a:focus {
  color: #6975f9;
  font-weight: bold;
}
.hamNav ul li .button {
  background-color: transparent;
  color: #1c1c1c;
  border: none;
  padding: 0;
}
.hamNav.openNav {
  height: 100%;
  -webkit-transform: translateX(-80vw);
          transform: translateX(-80vw);
}

header {
  background-color: #d9dbf1;
  height: max(100vh, 900px);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .wrapper .textContainer, header .wrapper .linkContainer, header .wrapper .arrow {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
header .wrapper .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}
header .wrapper .linkContainer a {
  margin: 0 10px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}
.arrow a:hover {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.arrow a:focus {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.textContainer {
  margin: 90px 0;
}
.textContainer h2 span {
  display: block;
}
.textContainer h2 span::before {
  content: attr(data-text);
}

.catContainer {
  display: none;
}

.socialsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 2%;
  bottom: 50px;
}
.socialsNav .socials {
  background-color: #1c1c1c;
  padding-left: 0;
  border-radius: 0.25em;
}
.socialsNav .socials li {
  margin: 12px;
}
.socialsNav .socials li a {
  color: #F9FAFA;
}
.socialsNav .socials li a:hover {
  color: #6975f9;
}
.socialsNav .socials li a:focus {
  color: #6975f9;
}

.about {
  height: max(100vh, 900px);
  background-color: #F9FAFA;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .wrapper .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper .aboutContainer p {
  width: 55%;
}
.about .wrapper .aboutContainer .aboutImgContainer {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .wrapper .aboutContainer .aboutImgContainer img {
  width: 70%;
  border-radius: 50%;
}

.skills {
  height: max(100vh, 900px);
  background-color: #d9dbf1;
}
.skills h3 {
  padding-top: 80px;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 60px 0px 60px;
}
.skillsList li {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skillsList li:hover {
  opacity: 0.7;
  background-image: url(../assets/checkmark.png);
  background-repeat: no-repeat;
  background-position: 55% 70%;
}
.skillsList li i {
  font-size: 4rem;
}

.projects {
  background-color: #F9FAFA;
}
.projects h3 {
  margin-top: 0px;
  padding-top: 80px;
}

.allProjectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.allProjectsContainer .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.allProjectsContainer .projectContainer .mockUpContainer {
  width: 50%;
  margin: 50px;
}
.allProjectsContainer .projectContainer .projectContentContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  border: 2px solid #1c1c1c;
  border-radius: 2em;
}
.allProjectsContainer .projectContainer .projectContentContainer .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}
.allProjectsContainer .projectContainer .projectContentContainer .projectText h4 {
  width: 100%;
}

.projectTwo, .projectFour {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projectText h4 {
  margin: 20px 0 0 0;
}
.projectText h5 {
  margin-bottom: 0px;
}
.projectText p {
  font-size: 1.1rem;
  line-height: 30px;
  margin: 22px 15px 5px 15px;
}

.projectLinks {
  margin: 10% 10% 13% 10%;
}

.contact {
  background-color: #d9dbf1;
}
.contact h3 {
  padding-top: 80px;
  margin-bottom: 20px;
}

.contactForm {
  height: max(80vh, 750px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.contactForm p {
  width: 70%;
  text-align: center;
}
.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  letter-spacing: 3.5px;
  font-weight: bold;
  width: 70%;
}
.contactForm form input, .contactForm form textarea {
  border: none;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  padding: 10px 5px;
  margin-bottom: 15px;
}
.contactForm form input:focus, .contactForm form textarea:focus {
  outline: 3px solid rgba(50, 49, 49, 0.2941176471);
}
.contactForm form button {
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.return {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.return a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.return a:hover {
  color: #6975f9;
}
.return a i {
  font-size: 2.5rem;
}
.return p {
  margin: 5px;
}

footer .copyright {
  background-color: #1c1c1c;
  color: #F9FAFA;
  padding: 10px 0px;
  text-align: center;
}
footer .copyright p {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .headerNav {
    padding: 0px;
  }
  .mainNav {
    display: none;
  }
  .hamNavIcon {
    display: block;
  }
}