html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primaryColor: #F9FAFA;
  --secondaryColor: #1c1c1c;
  --tertiaryColor: #d9dbf1;
  --transparentBlue: #d9dbf1d2;
  --hamIconColor: #1c1c1c;
}

.nightMode {
  --primaryColor: #1c1c1c;
  --secondaryColor: #F9FAFA;
  --tertiaryColor: #2C2D41;
  --transparentBlue: #2c2d41c6;
  --hamIconColor: #d9dbf1;
}

html {
  font-size: 125%;
}

body, button {
  font-family: "Inconsolata", monospace;
  color: var(--secondaryColor);
}

h1, h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: clamp(3.75rem, 2.8977rem + 4.2614vw, 7.5rem);
  margin-top: 15%;
}

h2 {
  font-size: clamp(1.75rem, 1.4489rem + 2.1307vw, 3rem);
  line-height: 60px;
  letter-spacing: 3.9px;
}

h3 {
  font-size: clamp(1.875rem, 1.0938rem + 3.9063vw, 5.3125rem);
  letter-spacing: 5px;
}

h4 {
  font-size: clamp(1.25rem, 0.8239rem + 2.1307vw, 3.125rem);
  line-height: 35px;
  letter-spacing: 2.5px;
}

h5 {
  font-size: clamp(0.9375rem, 0.8665rem + 0.3551vw, 1.25rem);
  letter-spacing: 1.6px;
}

a {
  color: var(--secondaryColor);
  font-size: clamp(1rem, 0.858rem + 0.7102vw, 1.625rem);
}

p {
  font-size: 1.2rem;
  line-height: 40px;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1728px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
  padding: 14px 36px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.25em;
}
.button:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}
.button:focus {
  background-color: transparent;
  color: var(--secondaryColor);
}

ul {
  list-style: none;
}

.logo {
  -webkit-animation: bounceIn 0.8s;
          animation: bounceIn 0.8s;
  -webkit-transform: rotate(0deg) scale(1) translateZ(0);
          transform: rotate(0deg) scale(1) translateZ(0);
  -webkit-transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
}
.logo a {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.logo a:hover {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.headerNav {
  background-color: var(--transparentBlue);
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainNav .mainNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainNav .mainNavLinks li {
  margin-left: 20px;
}
.mainNav .mainNavLinks a {
  padding: 14px 36px;
  text-align: center;
  border-radius: 0.25em;
  border: 2px solid transparent;
}
.mainNav .mainNavLinks a:hover {
  border: 2px solid var(--secondaryColor);
  font-weight: bold;
}

.hamNavIcon {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2%;
  cursor: pointer;
  z-index: 100;
  font-size: 2rem;
}
.hamNavIcon .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamNavIcon .toggle:hover {
  color: #6975f9;
}
.hamNavIcon .toggle:focus {
  color: #6975f9;
}

.hamNav {
  display: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: #F9FAFA;
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 0;
  right: -80vw;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hamNav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}
.hamNav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.hamNav ul li a {
  font-size: 2.8rem;
  line-height: 85px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #1c1c1c;
}
.hamNav ul li a:hover {
  color: #6975f9;
  font-weight: bold;
}
.hamNav ul li a:focus {
  color: #6975f9;
  font-weight: bold;
}
.hamNav.openNav {
  height: 100%;
  -webkit-transform: translateX(-80vw);
          transform: translateX(-80vw);
}

.hamNavIcon {
  color: var(--hamIconColor);
}

.mobileSocialsNav {
  display: none;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 7%;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  z-index: 10000;
}

.skipLink:focus {
  left: 0;
}

header {
  background-color: var(--tertiaryColor);
  height: max(100vh, 950px);
  position: relative;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .wrapper .textContainer, header .wrapper .linkContainer, header .wrapper .arrow {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
header .wrapper .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}
header .wrapper .linkContainer a {
  margin: 0 10px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}
.arrow a:hover {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.arrow a:focus {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.textContainer {
  margin: 90px 0;
  overflow: hidden;
}

.typeContainer .text {
  position: relative;
}
.typeContainer .secondText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--tertiaryColor);
  border-left: 2.5px solid var(--secondaryColor);
  -webkit-animation: animate 3s steps(12) infinite;
          animation: animate 3s steps(12) infinite;
}
.typeContainer .secondText::after {
  content: ".";
}
@-webkit-keyframes animate {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0%;
  }
}
@keyframes animate {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0%;
  }
}

#icon {
  width: 30px;
  cursor: pointer;
  position: fixed;
  left: 1%;
  top: 1%;
  z-index: 10000;
}

.catContainer {
  width: 35%;
  position: absolute;
  left: 0;
  bottom: 4%;
}
.catContainer .catImg {
  width: max(500px, 100%);
}

.socialsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 2%;
  bottom: 50px;
}
.socialsNav .socials {
  background-color: #1c1c1c;
  padding-left: 0;
  border-radius: 0.25em;
}
.socialsNav .socials li {
  margin: 12px;
}
.socialsNav .socials li a {
  color: #F9FAFA;
}
.socialsNav .socials li a:hover {
  color: #6975f9;
}
.socialsNav .socials li a:focus {
  color: #6975f9;
}

.about {
  height: min(100vh, 1200px);
  background-color: var(--primaryColor);
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .wrapper .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper .aboutContainer p {
  width: 55%;
  line-height: 35px;
}
.about .wrapper .aboutContainer p span {
  display: block;
  margin-top: 5%;
}
.about .wrapper .aboutContainer .aboutImgContainer {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .wrapper .aboutContainer .aboutImgContainer img {
  width: 80%;
  border-radius: 50%;
}

.skills {
  height: min(100vh, 1200px);
  background-color: var(--tertiaryColor);
}
.skills h3 {
  margin-top: 0px;
  padding-top: 8%;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 60px 0px 60px;
}
.skillsList li {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
}
.skillsList li i {
  font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
}

.projects {
  overflow: hidden;
  background-color: var(--primaryColor);
}
.projects h3 {
  margin-top: 0px;
  padding-top: 8%;
}

.allProjectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}
.allProjectsContainer .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.allProjectsContainer .projectContainer .mockUpContainer {
  width: 50%;
  margin: 50px;
}
.allProjectsContainer .projectContainer .mockUpContainer img {
  width: 100%;
}
.allProjectsContainer .projectContainer .projectContentContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  border: 2px solid var(--secondaryColor);
  border-radius: 2em;
}
.allProjectsContainer .projectContainer .projectContentContainer .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.projectTwo, .projectFour {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projectText h4 {
  margin: 20px 0 0 0;
  width: 100%;
}
.projectText h5 {
  margin-bottom: 0px;
}
.projectText p {
  font-size: 1.1rem;
  line-height: 30px;
  margin: 22px 15px 5px 15px;
  letter-spacing: 1.2px;
}
.projectText p a {
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}
.projectText p a:hover {
  border-bottom: 3px solid #6975f9;
}
.projectText p a:focus {
  border-bottom: 3px solid #6975f9;
}

.projectLinks {
  margin: 10% 10% 13% 10%;
}

.contact {
  background-color: var(--tertiaryColor);
}
.contact h3 {
  padding-top: 80px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.contact .contactSocialsNav {
  display: none;
}

.contactForm {
  height: min(100vh, 1100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.contactForm p {
  width: 70%;
  text-align: center;
  font-size: clamp(1.125rem, 1.0309rem + 0.5376vw, 1.4375rem);
}
.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(1.0625rem, 0.912rem + 0.8602vw, 1.5625rem);
  letter-spacing: 3.5px;
  font-weight: bold;
  width: 70%;
}
.contactForm form input, .contactForm form textarea {
  border: none;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  padding: 10px 5px;
  margin-bottom: 15px;
  resize: none;
}
.contactForm form input:focus, .contactForm form textarea:focus {
  outline: 3px solid rgba(50, 49, 49, 0.2941176471);
}
.contactForm form button {
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 2%;
  width: 170px;
}
.contactForm .success, .contactForm .error {
  margin: 0 auto;
  text-align: center;
  border-radius: 0.2em;
  padding: 2% 4%;
  background-color: #6975f9;
  color: #F9FAFA;
}
.contactForm .error {
  background-color: #FF0096;
}

footer {
  position: relative;
}
footer .copyright {
  background-color: #1c1c1c;
  color: #F9FAFA;
  padding: 10px 0px;
  text-align: center;
}
footer .copyright p {
  margin: 0 auto;
  font-size: 1rem;
}

.return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  position: absolute;
  left: 5%;
  top: -125%;
}
.return a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  font-size: 1rem;
}
.return a:hover {
  color: #6975f9;
}
.return a:focus {
  color: #6975f9;
}
.return a svg {
  color: var(--secondaryColor);
}
.return a .arrowUp {
  margin-top: -70px;
}
.return a i {
  font-size: 1.3rem;
  padding: 0;
}

.warpPlaceholder {
  position: absolute;
  color: transparent;
  font-size: 0.1px;
}

.warp {
  display: block;
  position: relative;
  width: 137px;
  height: 107px;
  transform-box: fill-box;
}

.warp0 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(15.1127px, 40.3506px) rotate(-1.237597rad);
          transform: translate(15.1127px, 40.3506px) rotate(-1.237597rad);
}

.warp1 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(17.8058px, 33.6339px) rotate(-1.137231rad);
          transform: translate(17.8058px, 33.6339px) rotate(-1.137231rad);
}

.warp2 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(21.255px, 27.2531px) rotate(-1.007623rad);
          transform: translate(21.255px, 27.2531px) rotate(-1.007623rad);
}

.warp3 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(25.5306px, 21.5368px) rotate(-0.842745rad);
          transform: translate(25.5306px, 21.5368px) rotate(-0.842745rad);
}

.warp4 {
  -webkit-transform-origin: 11px 15px;
          transform-origin: 11px 15px;
  -webkit-transform: translate(29.8794px, 13.9203px) rotate(-0.454693rad);
          transform: translate(29.8794px, 13.9203px) rotate(-0.454693rad);
}

.warp5 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(47.6165px, 11.0296px) rotate(-0.014714rad);
          transform: translate(47.6165px, 11.0296px) rotate(-0.014714rad);
}

.warp6 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(54.6688px, 11.7049px) rotate(0.200447rad);
          transform: translate(54.6688px, 11.7049px) rotate(0.200447rad);
}

.warp7 {
  -webkit-transform-origin: 11px 15px;
          transform-origin: 11px 15px;
  -webkit-transform: translate(60.9152px, 16.187px) rotate(0.517854rad);
          transform: translate(60.9152px, 16.187px) rotate(0.517854rad);
}

.warp8 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(76.2461px, 23.8503px) rotate(0.810779rad);
          transform: translate(76.2461px, 23.8503px) rotate(0.810779rad);
}

.warp9 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(80.6181px, 29.446px) rotate(1.012954rad);
          transform: translate(80.6181px, 29.446px) rotate(1.012954rad);
}

.warp10 {
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-transform: translate(83.5416px, 35.9024px) rotate(1.298566rad);
          transform: translate(83.5416px, 35.9024px) rotate(1.298566rad);
}

@media (max-width: 1400px) {
  .allProjectsContainer {
    width: 100%;
  }
  .allProjectsContainer .projectContainer {
    margin: 0px 0px 30px 0px;
  }
  .allProjectsContainer .projectContainer .mockUpContainer {
    margin: 5px;
  }
  .allProjectsContainer .projectContainer .projectContentContainer {
    margin: 1.5%;
  }
  .catContainer {
    width: 30%;
    left: -2%;
    bottom: 10%;
  }
  .about {
    height: max(100vh, 880px);
  }
  .about .wrapper h3 {
    margin-bottom: 2%;
  }
}
@media (max-width: 1200px) {
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1010px) {
  .catContainer {
    width: 32%;
    left: -4%;
    bottom: 15%;
  }
  .mainNav .mainNavLinks {
    padding-left: 10px;
  }
  .mainNav .mainNavLinks li {
    margin-left: 10px;
  }
  .mainNav .mainNavLinks li a {
    padding: 14px 10px;
  }
  .about h3 {
    margin-top: 0px;
    padding-top: 8%;
  }
  .about .wrapper {
    display: block;
  }
  .about .wrapper .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .wrapper .aboutContainer p {
    width: 100%;
    margin-bottom: 10%;
  }
  .about .wrapper .aboutContainer .aboutImgContainer {
    display: block;
  }
  .about .wrapper .aboutContainer .aboutImgContainer img {
    width: 100%;
  }
  .skills {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .skills .skillsList li {
    width: 33%;
  }
  .allProjectsContainer {
    width: 95%;
    display: block;
  }
  .allProjectsContainer .projectContainer {
    display: block;
    margin-bottom: 7%;
  }
  .allProjectsContainer .projectContainer .mockUpContainer {
    width: 100%;
  }
  .allProjectsContainer .projectContainer .projectContentContainer {
    width: 100%;
    display: block;
  }
  .allProjectsContainer .projectContainer .projectContentContainer .projectText {
    display: block;
    margin: 3%;
  }
  .allProjectsContainer .projectContainer .projectContentContainer .projectLinks {
    margin: 6%;
  }
  .contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .contactForm {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .socialsNav {
    right: 1%;
  }
  .socialsNav li {
    margin: 5px;
  }
}
@media (max-width: 800px) {
  .socialsNav {
    display: none;
  }
  .mobileSocialsNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-top: 20%;
  }
  .headerNav {
    padding: 0px;
  }
  .mainNav {
    display: none;
  }
  .hamNavIcon {
    display: block;
  }
  .hamNav {
    display: block;
  }
  .return {
    display: none;
  }
  .skills .skillsList {
    padding: 0px;
  }
  .contact {
    position: relative;
  }
  .contact .contactSocialsNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 2%;
    top: 0;
  }
  .contact .contactSocialsNav li {
    margin-bottom: 25%;
  }
  .contact .contactSocialsNav li a:hover {
    color: #6975f9;
  }
  .contact .contactSocialsNav li a:focus {
    color: #6975f9;
  }
  .contact .contactSocialsNav li a i {
    font-size: 1.3rem;
  }
  .contactForm p {
    width: 85%;
  }
  .contactForm form {
    width: 80%;
  }
}
@media (max-width: 700px) {
  header .wrapper .linkContainer {
    margin-bottom: 10%;
  }
  .arrow {
    display: none;
  }
  .catContainer {
    left: -1%;
  }
}
@media (max-width: 500px) {
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .catContainer {
    width: 50%;
    left: -4%;
    bottom: 10%;
  }
  .about .wrapper .aboutContainer p {
    font-size: 1rem;
    line-height: 27px;
  }
  .skills .skillsList li {
    width: 50%;
    margin: 0;
  }
  .allProjectsContainer .projectContainer {
    text-align: left;
    margin-bottom: 10%;
  }
  .allProjectsContainer .projectContainer .projectContentContainer {
    border: none;
  }
  .allProjectsContainer .projectContainer .projectContentContainer .projectText p {
    font-size: 1rem;
    line-height: 23px;
    margin-left: 0;
    margin-bottom: 10%;
  }
  .allProjectsContainer .projectContainer .projectContentContainer .projectLinks {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .allProjectsContainer .projectContainer .projectContentContainer .projectLinks .button {
    margin: 2%;
  }
}
@media (max-width: 400px) {
  header .wrapper .textContainer {
    margin-bottom: 0%;
  }
  header .wrapper .linkContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  header .wrapper .linkContainer a {
    margin: 0% 15% 2% 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .catContainer {
    display: none;
  }
  h1 {
    font-size: clamp(3.1rem, -0.625rem + 20vw, 4.375rem);
  }
  h2 {
    line-height: 48px;
  }
  .hamNav ul li a {
    font-size: 1.8rem;
  }
  .mobileSocialsNav {
    margin-top: 0%;
  }
  .contact .contactSocialsNav {
    top: 15%;
  }
}